name: Nightly nuget release

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *'

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
      with:
        ref: dev
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '7.0.x'    
        include-prerelease: false
    - name: Create and publish nuget 
      env:
        NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
      shell: pwsh
      run: |
        ./build/build.ps1
    - name: Add & Commit & Push
      uses: EndBug/add-and-commit@v6
      with:
        message: 'Nightly PnP Framework release'
        push: true
        branch: dev
        token: ${{ secrets.GITHUB_TOKEN }}   
